<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Welcome to Project Dashboard</title>
</head>
<body>
  <div id="project_dashboard"></div>
  <script>
    var globalURLs = {
      base: "{% url 'projectdashboard_base' %}"
    };
    var parameters = {
      projectId: {{projectId}},
      datasetIds: {{datasetIds}}
    };
  </script>
  <script src="{% static 'projectdashboard/js/bundle.js' %}"></script>
</body>
</html>
